<fieldset class="item">
  <label>Avatar URL</label> 
  <input
    type="url" 
    name="avatar_url"
    placeholder="https://"
    value="{{ student.avatar_url }}"
  >
</fieldset>

<fieldset class="item">
  <label>Nome completo</label>
  <input
    type="text" 
    name="name"
    placeholder="Digite seu nome completo"
    value="{{ student.name }}"
  >
</fieldset>

<fieldset class="item">
  <label>Email</label>
  <input 
    type="email"
    name="email"
    value="{{ student.email }}"
    placeholder="email@email.com"
  >
</fieldset>

<fieldset class="item">
  <label>Data de Nascimento</label>
  <input
    type="date" 
    name="birth"
    value="{{ student.birth }}"
  >
</fieldset>

<fieldset class="item">
  <label>Ano escolar</label>
  <select name="scholar_year">
    <option selected disabled hidden >Selecione um ano Escolar</option>
    <option 
      value="FifthMidGrade"
    >
      5° ano do fundamental
    </option>
    
    <option 
      value="SixthMidGrade"
    >
      6° ano do fundamental
    </option>
    
    <option 
      value="SeventhMidGrade"
    >
      7° ano do fundamental
    </option>
    
    <option 
      value="EighthMidGrade"
    >
      8° ano do fundamental
    </option>
    
    <option 
      value="NinethMidGrade"
    >
      9° ano do fundamental
    </option>
    
    <option 
      value="FirstHighGrade"
    >
      1° ano do colegial
    </option>
    
    <option 
      value="SecondHighGrade"
    >
      2° ano do colegial
    </option>
    <option 
      value="ThirdHighGrade"
    >
      3° ano do colegial
    </option>
  </select>
</fieldset>

<fieldset class="item">
  <label>Carga horária semanal</label>
  <input
    type="number" 
    name="weekly_hours"
    value="{{ student.weekly_hours }}"
    placeholder="Digite a carga horária semanal"
  >
</fieldset>