{% extends 'layout.njk' %}

{% block content %}

  <section class="card">
    <div class="avatar" style="background: url({{ student.avatar_url }}}) no-repeat center center; background-size: cover"></div>

    <section class="details">
      <h1>Detalhes do aluno</h1>

      <div class="item">
        <div>Nome Completo</div>
        <div>{{ student.name }}</div>
      </div>

      <div class="item">
        <div>Email</div>
        <div>{{ student.email }}</div>
      </div>

      <div class="item">
        <div>Aniversário</div>
        <div>{{ student.age }}</div>
      </div>

      <div class="item">
        <div>Ano escolar</div>
        <div>{{ student.scholar_year }}</div>
      </div>

      <div class="item">
        <div>Carga horária</div>
        <div>{{ student.weekly_hours }}</div>
      </div>


      <a class="buttons" href="/students/{{ student.id }}/edit">Editar<a>
    </section>
  </section>

{% endblock content %}