{% extends 'layout.njk' %}

{% block content %}

   <form class="card" method="POST" action="/teachers">
      <section class="avatar"></section>

      <section class="details">
         <h1>Editar Professor</h1>

         {% include "teachers/fields.njk" %}

         <button type="submit">Salvar</button>
      </section>
   </form>

{% endblock content %}