{% extends 'layout.njk' %}

{% block content %}

  <div class="card">
    <section class="avatar"></section>

    <div class="details">
      <h3>Detalhes</h3>

      <div class="item">
        <div>Nome Completo</div>
        <div>Mayk Brito</div>
      </div>

      <div class="item">
        <div>Idade</div>
        <div>33</div>
      </div>

      <div class="item">
        <div>Grau de Escolaridade</div>
        <div>Superior Completo</div>
      </div>

      <div class="item">
        <div>Acompanhamento</div>
        <span>Desenvolvimento Web</span>
        <span>Programação Básica</span>
      </div>

      <div class="item">
        <div>Tipo de aula</div>
        <div>À Distância</div>
      </div>

      <div class="item">
        <div>Desde</div>
        <div>01/11/2019</div>
      </div>
    </div>
  </div>

{% endblock content %}