{% extends 'layout.njk' %}

{% block content %}

  <section class="card">
    <div class="avatar" style="background: url({{ teacher.avatar_url }}}) no-repeat center center; background-size: cover"></div>

    <section class="details">
      <h1>Detalhes do Professor</h1>

      <div class="item">
        <div>Nome Completo</div>
        <div>{{ teacher.name }}</div>
      </div>

      <div class="item">
        <div>Idade</div>
        <div>{{ teacher.age }}</div>
      </div>

      <div class="item">
        <div>Grau de Escolaridade</div>
        <div>
          {{ teacher.educational_level }}
        </div>
      </div>

      <div class="item">
        <div>Tipo de aula</div>
        <div>{{ "Presencial" if teacher.class_type == "Presential" else "À distância" }}</div>
      </div>

      <div class="item">
        <div>Áreas de atuação</div>
        {% for field in teacher.fields %}
          <span>{{ field }}</span>
        {% endfor %}
      </div>

      <div class="item">
        <div>Desde</div>
        <div>{{ teacher.created_at }}</div>
      </div>

      <a class="button" href="/teachers/{{ teacher.Id }}/edit">Editar<a>
    </section>
  </section>

{% endblock content %}